<!DOCTYPE html>
<html lang="en" class="text-sm sm:text-base">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Schedule Layout</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" integrity="sha512-T3VL1q6jMUIzGLRB9z86oJg9PgF7A55eC2XkB93zyWSqQw3Ju+6IEJZYBfT7E9wOHM7HCMCOZSpcssxnUn6AeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./schedule.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">


</head>

<body class="bg-cyan-900 text-sky-100 m-0 font-sans">

    <header class="p-10 border-0 border-b-4 border-b-cyan-600 border-solid">
        <h1 class="text-5xl">Schedule of Events</h1>
        <p>
            The technical program is under development by the organizing committee, which uses community feedback to determine sessions and invite speakers. Join our mailing list to receive updates.
        </p>
        <p>All events at the Michigan League unless otherwise noted. Field trips will depart from the Michigan League.</p>
    </header>

    <main class="schedule relative">

        <figure class="absolute m-0 w-full min-h-[200vh]">
            <div class="absolute inset-0 bg-center bg-cover opacity-20" style="background-image: url('https://static.wixstatic.com/media/ffaf03\_834565175692424fa6844f18bfc7ff3a~mv2.jpg/v1/fill/w\_1284,h\_1494,al\_c,q\_85,usm\_0.66\_1.00\_0.01,enc\_auto/ffaf03\_834565175692424fa6844f18bfc7ff3a~mv2.jpg');"></div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent to-cyan-950"></div>
        </figure>

        <summary class="relative p-10">
            {{#each schedule}}
            <section>
                <header class="text-cyan-200 border-0 border-b-4 border-solid border-cyan-400">
                    <h2 class="uppercase text-4xl font-bold mb-0">{{day}}</h2>
                    <h3 class="text-xl text-cyan-400 m-0">{{focus}}</h3>
                </header>
                <table class="border-collapse w-full text-sm border-0">
                    <tbody>
                        {{> agenda }}
                        {{#each sessions}}
                        <tr>
                            <td colspan="2" class="bg-cyan-100 font-bold text-center text-2xl">{{title}}</td>
                        </tr>
                        {{> agenda session=true agenda=this.agenda}}
                        {{/each}}
                        {{#if dinner}}
                        {{> agenda agenda=dinner}}
                        {{/if}}
                    </tbody>
                </table>
            </section>
            <br />

            {{/each}}
        </summary>
    </main>


</body>

</html>
