<!DOCTYPE html>
<html lang="en" class="text-sm sm:text-base">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Schedule Layout</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" integrity="sha512-T3VL1q6jMUIzGLRB9z86oJg9PgF7A55eC2XkB93zyWSqQw3Ju+6IEJZYBfT7E9wOHM7HCMCOZSpcssxnUn6AeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./schedule.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script>


        $(document).ready(function () {
            console.log('ready'); // jquery loaded

            $(document).on($.modal.OPEN, function (event, modal) {
                window.parent.postMessage('windowPositions', '*');
            });

            window.addEventListener('message', (event) => {
                // Check the origin of the message for security
                const message = event.data;
                if (message.type === 'positions') {
                    console.log('Received message from parent:', message.data);

                    positionModal(message.data)
                }
            });

            const positionModal = (data) => {
                // var modal = $.modal;

                const modal = $('.modal:visible');

                const headerHeight = 120;

                const modalHeight = modal.outerHeight();
                const modalWidth = modal.outerWidth();

                const newTop = data.scrollY - headerHeight + (data.height / 2) - (modalHeight / 2);
                const newLeft = data.width / 2 - modalWidth / 2 - 20;

                $(modal).css('position', 'absolute');
                $(modal).css('top', newTop + 'px');
                $(modal).css('left', newLeft + 'px');

                console.log(newTop);
                console.log(newLeft);
            }


            // $(window.parent).on('resize', function () {
            //     // on resize of the parent window, recenter the modal, if it is open
            //     var modal = $.modal.getCurrent();
            //     const modalData = {
            //         type: 'positionModal',
            //         elm: modal.elm.outerHTML,
            //         height: $(modal.elm).outerHeight(),
            //         width: $(modal.elm).outerWidth()
            //     };
            //     window.parent.postMessage(modalData, '*');
            //     // window.parent.positionModal(modal);
            // });


            const positionModalLocal = (modal) => {
                if (window.parent) {
                    var iframe = window.parent.document.getElementsByName('htmlComp-iframe')[0];

                    if (modal && modal.elm) {
                        var modalHeight = $(modal.elm).outerHeight();
                        var modalRect = $(modal.elm)[0].getBoundingClientRect();

                        var newTop = window.parent.scrollY + (window.parent.innerHeight / 2) - (modalHeight / 2);
                        var newLeft = window.parent.innerWidth / 2 - modalRect.width / 2 - 20;

                        $(modal.elm).css('position', 'absolute');
                        $(modal.elm).css('top', newTop + 'px');
                        $(modal.elm).css('left', newLeft + 'px');
                    }
                }
            }


        });
    </script>


</head>

<body class="bg-cyan-900 text-sky-100 m-0 font-sans overflow-hidden w-screen h-screen">

    <header class="p-10 border-0 border-b-4 border-b-cyan-600 border-solid">
        <h1 class="text-4xl md:text-5xl">Schedule of Events</h1>
        <p>
            The technical program is under development by the organizing committee, which uses community feedback to determine sessions and invite speakers. Join our mailing list to receive updates.
        </p>
        <p>All events at the Michigan League unless otherwise noted. Field trips will depart from the Michigan League.</p>

        <p>
            <span class="mb-4 block md:inline">View our list of posters!</span>
            <a href="https://ffaf03bd-bea1-428e-b4fe-fd37c66c9ee2.usrfiles.com/ugd/ffaf03_a8239e7e899945c489b2a477d02599b2.pdf" target="_blank" class="bg-cyan-600 hover:bg-cyan-700 hover:cursor-pointer text-white font-bold md:mx-4 py-2 px-4 rounded inline-block text-md md:text-lg no-underline">Conference Posters</a>
        </p>

    </header>

    <main class="schedule relative bg-cyan-950">

        <figure class="absolute m-0 w-full min-h-[1500px]">
            <div class="absolute inset-0 bg-top bg-cover opacity-15" style="background-image: url('https://static.wixstatic.com/media/ffaf03\_834565175692424fa6844f18bfc7ff3a~mv2.jpg/v1/fill/w\_1284,h\_1494,al\_c,q\_85,usm\_0.66\_1.00\_0.01,enc\_auto/ffaf03\_834565175692424fa6844f18bfc7ff3a~mv2.jpg');"></div>
            <div class="absolute inset-0 bg-gradient-to-b from-transparent to-cyan-950"></div>
        </figure>

        <summary class="relative p-10">
            {{#each schedule}}
            <section>
                <header class="text-cyan-200 border-0 border-b-4 border-solid border-cyan-400">
                    <h2 class="uppercase text-3xl md:text-4xl font-bold mb-0">{{day}}</h2>
                    <h3 class="text-xl md:text-2xl text-cyan-400 m-0">{{focus}}</h3>
                </header>
                <table class="border-collapse w-full text-sm border-0">
                    <tbody>
                        {{> agenda }}
                        {{#each sessions}}
                        <tr>
                            <td colspan="2" class="bg-cyan-100 font-bold text-center text-2xl">{{title}}</td>
                        </tr>
                        {{> agenda session=true agenda=this.agenda}}
                        {{/each}}
                        {{#if dinner}}
                        {{> agenda agenda=dinner}}
                        {{/if}}
                    </tbody>
                </table>
            </section>
            <br />

            {{/each}}
        </summary>
    </main>


</body>

</html>
